.tag-thumbnail {
    width: 400px;
}

.tag-thumbnail .main-thumbnail{
    border-radius: 8px;
    border: 1px solid red;
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.tag-thumbnail .secondary-row {
    margin-top: 15px;
    width: 400px;
    height: 80px;
}
.tag-thumbnail .secondary-thumbnail {
    width: calc(133px - 10px);
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid red;
}

.tag-thumbnail .secondary-thumbnail:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tag-thumbnail .secondary-thumbnail:nth-child(3) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
}