.tag-thumbnail {
    width: max-content;
}

.tag-thumbnail:hover {
    background-color: rgba(124, 144, 160, 0.2);
    border-radius: 8px;
}

.tag-thumbnail .main-thumbnail{
    border-radius: 8px;
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.tag-thumbnail .secondary-row {
    margin-top: 15px;
    width: 400px;
    height: 80px;
}
.tag-thumbnail .secondary-thumbnail {
    width: 123px;
    object-fit: cover;
    margin-right: 15px;
}

.tag-thumbnail .secondary-thumbnail:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tag-thumbnail .secondary-thumbnail:nth-child(3) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
}

.tag-thumbnail .tag-link {
    text-decoration: none;
}