.retina-btn-dark {
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: #0F1020;
    color : #EBF5EE;    
    border: 1px solid transparent;
    border-radius: 0.25rem;
    line-height: 1.5;
    /* 3454D1, 0197F6 */
}

.retina-btn-dark:active {
    box-shadow: 0 0 0 0.25rem rgba(15, 16, 32, 0.25);
}

.retina-btn-icon {
    background-color: transparent;
    padding: 0;
    border: none;
}

.retina-btn-icon:active {
    background-color: rgba(15, 16, 32, 0.1);
    border-radius: 50%;
}

.retina-bg-dark {
    background-color: #0F1020;
}

.retina-text-dark {
    color: #0F1020;
}

.retina-text-blue {
    color: #0197F6;
}

.retina-text-dark-blue {
    color: #3454D1;
}

.retina-text-light {
    color: #EBF5EE;
}
.retina-text-light-gray {
    color: #7C90A0;
}

.retina-bg-dark-gray {
    background-color: #2A2D34;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

/* 12263A, 373F51, 0E0F19 */

.retina-toast {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.retina-text-title {
    text-transform: capitalize;
}